table.main_menu {
  width: 1027px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}
<?php
include ("bodies/stylesheets.bdy");
?>
